# Byte-compiled / cache
__pycache__/
*.py[cod]
*$py.class

# Виртуальные окружения
venv/
env/
.venv/
ENV/

# Дистрибутивы / сборка
build/
dist/
*.egg-info/
*.egg

# IDE
.vscode/
.idea/

# Переменные окружения / секреты
.env

# Логи
*.log

# OS
.DS_Store
Thumbs.db

# Тесты / покрытие
.pytest_cache/
.coverage
htmlcov/
